{% extends "base.html" %}
{% load static %}

{% block title %}Database{% endblock %}

{% block content %}

<style>
  .pdf-container {
    width: 100%;
    height: 600px;
    overflow: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box; /* Add box-sizing property */
    padding: 10px; /* Add padding to create space for scrollbar */
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #pdf-canvas {
    display: block;
    margin: 0 auto;
  }

  #pdf-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  #zoom-slider {
    width: 200px;
    margin: 0 10px;
  }

  .zoom-control {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
  }
  .back-button {
    margin-bottom: 20px;
  }
  
  .back-button a {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
  }

  .back-button i {
    margin-right: 5px;
  }
  .skills-container, .educations-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skills-list, .educations-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .skills-list li,.educations-list li {
    width: 20%; /* Adjust this value based on your layout */
    padding: 5px;
  }

  /* Modal styles */
  .modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }

  .modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<h1>Resume Detail</h1>
<div class="back-button">
  <a href="{% url 'resume-list' %}">
    <i class="fas fa-arrow-left"></i>
    Back to All Resumes
  </a>
</div>
{% if resume %}
  <h2>Personal Details</h2>
  <table>
 <tr>
   <td><strong>Name:</strong></td>
   <td>{{ resume.name }}</td>
  </tr>
  <tr>
    <td><strong>Phone Number:</strong></td>
    <td>{{ resume.phone_number }}</td>
  </tr>
  <tr>
  <td><strong>Email:</strong></td>
  <td>{{ resume.email }}</td>
</tr>
</table>

  <h3>Skills:</h3>
  <div class="skills-container">
  <ul class="skills-list">
    {% for skill in resume.skills %}
      <li>{{ skill }}</li>
    {% endfor %}
  </ul>
  </div>

  <h3>Educations:</h3>
  <div class="educations-container">
  <ul classs="educations-list">
    {% for education in resume.educations %}
      <li>{{ education }}</li>
    {% endfor %}
  </ul>
  </div>

  <h3>PDF Preview:</h3>
  <div id="pdf-nav">
    <button id="prev-page">Previous</button>
    <span id="page-num"></span> / <span id="total-pages"></span>
    <button id="next-page">Next</button>
    <button class="zoom-control" id="zoom-out">-</button>
    <input type="range" id="zoom-slider" min="0.5" max="8" step="0.1" value="1">
    <button class="zoom-control" id="zoom-in">+</button>
    <span id="zoom-indicator"></span>
  </div>
  <div class="pdf-container">
    <canvas id="pdf-canvas"></canvas>
  </div>

  <form action="{% url 'resume-delete' resume.pk %}" method="post">
    {% csrf_token %}
    <button id="deleteButton" type="submit" class="btn btn-danger">Delete Resume</button>
  </form>

  <!-- Add modal HTML code -->
  <div id="confirmModal" class="modal">
    <div class="modal-content">
      <span class="modal-close">&times;</span>
      <p>Are you sure you want to delete this resume?</p>
      <form action="{% url 'resume-delete' resume.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Resume</button>
      </form>
    </div>
  </div>
  <script src="{% static 'js/pdf.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var pdfUrl = '{% url 'resume_preview' resume_pk=resume.pk %}';
      var pdfContainer = document.querySelector('.pdf-container');
      var prevPageButton = document.getElementById('prev-page');
      var nextPageButton = document.getElementById('next-page');
      var zoomOutButton = document.getElementById('zoom-out');
      var zoomInButton = document.getElementById('zoom-in');
      var pageNumberSpan = document.getElementById('page-num');
      var totalPagesSpan = document.getElementById('total-pages');
      var zoomSlider = document.getElementById('zoom-slider');
      var zoomIndicator = document.getElementById('zoom-indicator');


      var pdfDoc = null;
      var pageNum = 1;
      var scale = 1;

      function renderPage(num) {
        pdfDoc.getPage(num).then(function(page) {
          var viewport = page.getViewport({ scale: scale });
          var canvas = document.createElement('canvas');
          var ctx = canvas.getContext('2d');
          pdfContainer.innerHTML = '';
          pdfContainer.appendChild(canvas);

          canvas.width = viewport.width;
          canvas.height = viewport.height;

          var renderContext = {
            canvasContext: ctx,
            viewport: viewport
          };

          page.render(renderContext).promise.then(function() {
            pageNumberSpan.textContent = num;
          });
          if (scale <= 1) {
            pdfContainer.classList.add('centered');
          } else {
            pdfContainer.classList.remove('centered');
          }

          if (scale <= 1) {
            // Center content horizontally only when zoomed out
            pdfContainer.style.justifyContent = 'center';
          } else {
            // Reset horizontal centering when zoomed in
            pdfContainer.style.justifyContent = '';
          }
        });
      }

      function zoomIn() {
        if (scale >= 8) return;
        scale += 0.5;
        updateZoomControls();
        renderPage(pageNum);
      }

      function zoomOut() {
        if (scale <= 0.5) return;
        scale -= 0.5;
        updateZoomControls();
        renderPage(pageNum);
      }

      function goToPrevPage() {
        if (pageNum <= 1) return;
        pageNum--;
        renderPage(pageNum);
      }

      function goToNextPage() {
        if (pageNum >= pdfDoc.numPages) return;
        pageNum++;
        renderPage(pageNum);
      }

      function updateZoom() {
        scale = parseFloat(zoomSlider.value);
        updateZoomControls();
        renderPage(pageNum);


      }

      function updateZoomControls() {
        zoomSlider.value = scale;
        zoomOutButton.disabled = (scale <= 0.5);
        zoomInButton.disabled = (scale >= 8);
        zoomIndicator.textContent = 'Zoom: ' + Math.round(scale * 100) + '%';

      }


      pdfjsLib.getDocument(pdfUrl).promise.then(function(doc) {
        pdfDoc = doc;
        totalPagesSpan.textContent = pdfDoc.numPages;

        renderPage(pageNum);

        prevPageButton.addEventListener('click', goToPrevPage);
        nextPageButton.addEventListener('click', goToNextPage);
        zoomOutButton.addEventListener('click', zoomOut);
        zoomInButton.addEventListener('click', zoomIn);
        zoomSlider.addEventListener('input', updateZoom);
        zoomIndicator.textContent = 'Zoom: ' + Math.round(scale * 100) + '%';

      });
    });

      // JavaScript code to handle modal behavior
      document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById('confirmModal');
        var modalClose = document.querySelector('.modal-close');
        var deleteButton = document.querySelector('#deleteButton');
    
        // Show the modal when the delete button is clicked
        deleteButton.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent the default form submission
          modal.style.display = 'block';
        });
    
        // Hide the modal when the close button is clicked
        modalClose.addEventListener('click', function() {
          modal.style.display = 'none';
        });
    
        // Hide the modal when clicking outside the modal content
        window.addEventListener('click', function(event) {
          if (event.target === modal) {
            modal.style.display = 'none';
          }
        });
      });
  </script>

  {% else %}
  <p>No resume found.</p>
  {% endif %}

  {% endblock content %}
